*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}

.sidebar{
  height: 600px;
  width: 200px;
  border: 1px solid black;
  margin: 1px 1px 1px 1px;
}
.web-intro{
position: relative;
  bottom: 600px;
  left: 225px;
  height: 350px;
  width: 82vw;
  border: 1px solid black;
 margin-top: 2px;
 
}
.quotes{
  position: relative;
  bottom: 595px;
  left: 225px;
  height: 200px;
  width: 82vw;
  border: 1px solid black;
  margin-top: 2px;
  display: flex;
  padding: 10px 10px 10px 10px;
  justify-content: space-around;
  align-items: center
}

.motivational-quotes{
  height: 80%;
  width: 30vw;
  border: 1px solid black;
 
}
.remainder{
  height: 80%;
  width: 30vw;
  border: 1px solid black;
  
  
}
.progress{
  position: relative;
  bottom: 590px;
  left: 225px;
  height: 400px;
  width: 82vw;
  border: 1px solid black;
  margin-top: 2px;
  display: flex;
  padding: 10px 10px 10px 10px;
  justify-content: space-around;
  align-items: center
}
.weekly{
  height: 80%;
  width: 30vw;
  border: 1px solid black;
}
.monthly{
  height: 80%;
  width: 30vw;
  border: 1px solid black
}